* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  padding-left: 20px;
  display: flex;
  align-items: center;
  font-family: Lucida Sans;
}

.logo {
  width: 70px;
  height: 70px;
}
